@charset "Shift_JIS";

/*============================================
全般的なスタイル
============================================*/
* {
	margin:0; padding:0; 	/*全要素のマージン・パディングをリセット*/
	line-height:1.5;	/*全要素の行の高さを1.5倍にする*/
	color:#333333;		/*文字色*/

}
body {

  background-color: #ffffff;
	text-align:center;		/*IE6以下でセンタリングするための対策*/
}
div#pagebody {

}

/*============================================
ヘッダ
============================================*/
div#header {
	height:77px;	/*背景画像のサイズに合わせてボックスの高さを指定*/
	background-repeat:no-repeat;		/*背景画像を繰り返さない*/
	background-color:#ffffff;		/*ヘッダ部分の背景色*/
}
h1 {
	padding:20px 0px 0px 30px;		/*見出し内容の位置調整*/
}
h1 a {text-decoration:none;} 			/*リンクの下線を無くす*/

/*============================================
メインメニュー
============================================*/
ul#menu {
	height:42px;
  background-color:#ffffff;
  font-weight:bold;
	display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}
li#menu01,li#menu02,li#menu03,li#menu04,li#menu05,li#menu06 {
	list-style-type:none;		/*リストマーカー無しにする*/
	background-repeat:no-repeat; 	/*背景画像を繰り返さない*/
	display: table-cell;
  vertical-align: middle;
}

/*ボタン01～05にはそれぞれ異なる背景画像を指定する*/
li#menu01 {
	width:164px; height:42px;	/*背景画像に合わせたサイズ指定*/
	background-image:url("images/bg_menu01.jpg");	/*背景画像*/
}
li#menu02 {
	width:156px; height:42px;	/*背景画像に合わせたサイズ指定*/
	background-image:url("images/bg_menu02.jpg");	/*背景画像*/
}
li#menu03 {
	width:156px; height:42px;	/*背景画像に合わせたサイズ指定*/
	background-image:url("images/bg_menu03.jpg");	/*背景画像*/
}
li#menu04 {
	width:156px; height:42px;	/*背景画像に合わせたサイズ指定*/
	background-image:url("images/bg_menu04.jpg");	/*背景画像*/
}
li#menu05 {
	width:164px; height:42px;	/*背景画像に合わせたサイズ指定*/
	background-image:url("images/bg_menu05.jpg");	/*背景画像*/
}
li#menu06 {
	width:164px; height:42px;	/*背景画像に合わせたサイズ指定*/
	background-image:url("images/bg_menu05.jpg");	/*背景画像*/
}
ul#menu a {
	display:block;				/*リンクをブロック表示にする*/
	height:42px; padding-top:4px; text-align:center;
	text-decoration:none; 			/*リンクの下線を無くす*/
	font-family:Arial, Helvetica, sans-serif;	/*フォントの種類*/
}

/*============================================
ホーム
============================================*/
div#content1{
  height: 600px;
  background-image:url("images/messege_background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	position: relative;
}
div#content1title{
	height: 200px;
	width: 200px;
	color: #ffffff;
	font-size: 1.6rem;
	position: absolute;
	top: 1250px;
	right: 700px;
	bottom: 0;
	left: 0px;
	margin: auto;
}
div#messege1{
	height: 200px;
	width: 400px;
	color: #ffffff;
	font-size: 1.6rem;
	position: absolute;
	top: 0;
	right: 700px;
	bottom: 0;
	left: 0;
	margin: auto;
}


/*============================================
フッタ
============================================*/
div#footer {
	height:42px; text-align:center;
	clear:both;					/*回り込みを解除する*/
	background-image:url("images/bg_footer.jpg");	/*フッタ部分の背景画像*/
	background-repeat:no-repeat;			/*背景画像を繰り返さない*/
	background-color:#cccccc;			/*フッタ部分の背景色*/
}
address {
	font-style:normal;			 /*フォントスタイルを標準にする*/
	font-size:small;			 /*フォントサイズを小さくする*/
	padding:5px 0px 5px 0px;		 /*要素内容の位置調整*/
}
